# Activar RewriteEngine
RewriteEngine On

# Establecer el directorio raíz al public/
RewriteBase /vetsmart/

# Si el archivo o directorio existe, no redirigir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enviar todas las peticiones a public/index.php
RewriteRule ^(.*)$ public/index.php [L]
